@font-face {
    font-family: 'MonsterFriendFore';
    src: url('../assets/fonts/MonsterFriendFore.otf') format('opentype');
}

* {
    font-family: 'MonsterFriendFore', sans-serif;
}


.logo {
    width: 55px;
    height: auto;
}

.navbarColor {
    background-color: rgba(34, 34, 34, 0.596);
}

.navbar {
    backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1)100%, rgba(0, 0, 0, 0) 0%);
}

a.nav-link.active {
    font-weight: bold;
}

.scrolled {
    background-color: #000000;
}

html,
body {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url('../img/fundo.png') repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    object-fit: cover;
    font-family: 'MonsterFriendFore', sans-serif;
}

.mainContainer {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.tituloSobre {
    color: #00d445;
    font-weight: bolder;
    font-size: 50px;
}

.subtituloSobre {
    font-size: 25px;
    color: #00d445;
}

.textoSobre {
    font-size: 20px;
    color: rgb(196, 193, 193);
    font-family: Arial, Helvetica, sans-serif;
}

.bold {
    color: gainsboro;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    display: flex;
    justify-content: end;
    padding: 2rem;
}

footer {
    flex-grow: 1;
    width: 100% !important;
}

.sobre-section {
    color: #fff;
    padding: 4rem 1rem;
}

.sobre-container {
    max-width: 800px;
    margin: 0 auto;
}

.sobre-title {
    font-size: 2.5rem;
    color: #00d445;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sobre-text {
    font-size: 20px;
    color: rgb(196, 193, 193);
    margin-bottom: 1rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
    .sobre-title {
        font-size: 2rem;
    }

    .sobre-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .mainContainer {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainContainer .right {
        order: -1;
    }

    .mainContainer .left .container>div {
        text-align: center;
    }

    .mainContainer .left .container>div .btn {
        margin: 1rem auto 0;
        display: inline-block;
    }

    .right img {
        width: 75%;
        margin: 0 auto;
    }
}