@font-face {
    font-family: 'MonsterFriendFore';
    src: url('../assets/fonts/MonsterFriendFore.otf') format('opentype');
}

* {
    font-family: 'MonsterFriendFore', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.active {
    color: white !important;
    background-color: transparent;
}

.logo {
    width: 55px;
    height: auto;
}

.navbarColor {
    background-color: rgba(34, 34, 34, 0.596) !important;
}

footer.navbar {

    backdrop-filter: blur(20px) !important;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.1) 100%,
            rgba(0, 0, 0, 0) 0%) !important;
}

a.nav-link.active {
    font-weight: bold;
}

.scrolled {
    background-color: #000000;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html,
body {
    display: flex;
    flex-direction: column;
    background: url('../img/fundo.png') repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    object-fit: cover;
    font-family: 'MonsterFriendFore', sans-serif;
}

.snap-container {
    padding-top: 5rem;
    height: calc(100vh - 56px);
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    width: 90%;
    margin: 0 auto;
}

.snap-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.snap-container {
    scrollbar-width: none;
}

.snap-container {
    -ms-overflow-style: none;
}

.snap-container>section {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    min-height: calc(100vh - 56px);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.snap-container>section.active {
    opacity: 1;
    transform: translateY(0);
}

.mainContainer {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.tituloSobre {
    color: #00d445;
    font-weight: bolder;
    font-size: 50px;
}

.subtituloSobre {
    font-size: 25px;
    color: #00d445;
}

.textoSobre {
    font-size: 20px;
    color: rgb(196, 193, 193);
    font-family: Arial, Helvetica, sans-serif;
}

.bold {
    color: gainsboro;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    display: flex;
    justify-content: end;
    padding: 2rem;
}

.carouselTiposDescarte {
    max-width: 700px;
    margin: 0 auto;
}

.trashType {
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: #00d445;
    border-radius: 5px;
}

footer {
    flex-grow: 1;
    width: 100% !important;
}

.sobre-section {
    color: #fff;
    padding: 4rem 1rem;
}

.sobre-container,
.dev-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.sobre-title {
    font-size: 1rem;
    color: #00d445;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sobre-text {
    font-size: 20px;
    color: rgb(196, 193, 193);
    margin-bottom: 1rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/* RESET BÁSICO DO CARROSSEL */
.owl-carousel div,
.owl-carousel .owl-item {
    height: 100%;
}

.owl-carousel .owl-item div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* ESTILO DOS CARDS */
#metodologia {
    flex-direction: column;
    justify-content: center;
}

.owl-carousel .card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 130px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card-img {
    flex: 0 0 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-bottom: inset;
    max-height: 130px;
}

.card-img img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-text {
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    font-size: 0.9rem;
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

/* ESTILIZAÇÃO DA ÁREA DE DESENVOLVEDORES */
#desenvolvedores {
    display: block;
    padding-bottom: 100px;
}

.dev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dev-container .row {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.img-container {
    transition: 300ms;
}

.img-container:hover {
    transform: scale(1.1);
}

.img-dev {
    margin-bottom: 15px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.dev-text {
    color: #00d445;
}

#modalAtividades .row {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.left-atividades {
    text-align: center;
}

.social-icons a i {
    color: white;
    transition: 200ms;
    display: inline-block;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.modalAtividadesImg {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.resultados-container {
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.print-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.print {
    max-width: 300px;
    min-width: 70px;
    border-radius: 5px;
    transition: 200ms;
}

.print:hover {
    transform: scale(1.1);
}

/* ESTILIZAÇÃO DO MODAL DE UPDATES */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    color: #000;
    padding: 1.5rem 1.5rem 0 1.5rem;
    max-width: 500px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    max-height: 400px;
}

.modal,
.modal * {
    font-family: Arial, Helvetica, sans-serif;
}

.changelogTextContainer {
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0.5rem;
}

.changelogTextContainer {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 212, 69, 0.7) rgba(255, 255, 255, 0.1);
}

.changelogTextContainer::-webkit-scrollbar {
    width: 6px;
}

.changelogTextContainer::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

.changelogTextContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 212, 69, 0.7);
    border-radius: 3px;
}

.modal h2 {
    color: #00d445;
    margin-top: 0;
}

.modal .subtitle {
    font-size: 1rem;
    color: #555;
    margin-bottom: .5rem;
}

.modal .date {
    font-size: .875rem;
    color: #777;
    margin-bottom: 1rem;
}

.modal p {
    font-size: 1rem;
    line-height: 1.4;
    color: gainsboro;
}

.modal .controls {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100px;
}

.modal .controls button {
    background: #00d445;
    border: none;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: .9rem;
}

.modal .controls button:disabled {
    opacity: .5;
    cursor: default;
}

.modal .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
}

@media(min-width:1050px) {
    .sobre-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1100px) {
    .mainContainer {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainContainer .right {
        order: -1;
    }

    .mainContainer .left .container>div {
        text-align: center;
    }

    .mainContainer .left .container>div .btn {
        margin: 1rem auto 0;
        display: inline-block;
    }

    .right img {
        width: 75%;
        margin: 0 auto;
    }
}